@model SportsLogger.Models.DataModels.Tournament

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tournament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TournamentName" class="control-label"></label>
                <input asp-for="TournamentName" class="form-control" />
                <span asp-validation-for="TournamentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TournamentDateTime" class="control-label"></label>
                <input asp-for="TournamentDateTime" class="form-control" />
                <span asp-validation-for="TournamentDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TournamentTypeId" class="control-label"></label>
                <select asp-for="TournamentTypeId" class ="form-control" asp-items="ViewBag.TournamentTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId" class="control-label"></label>
                <select asp-for="GameId" class ="form-control" asp-items="ViewBag.GameId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId1" class="control-label"></label>
                <select asp-for="GameId1" class ="form-control" asp-items="ViewBag.GameId1"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId2" class="control-label"></label>
                <select asp-for="GameId2" class ="form-control" asp-items="ViewBag.GameId2"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId3" class="control-label"></label>
                <select asp-for="GameId3" class ="form-control" asp-items="ViewBag.GameId3"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId4" class="control-label"></label>
                <select asp-for="GameId4" class ="form-control" asp-items="ViewBag.GameId4"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId5" class="control-label"></label>
                <select asp-for="GameId5" class ="form-control" asp-items="ViewBag.GameId5"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId6" class="control-label"></label>
                <select asp-for="GameId6" class ="form-control" asp-items="ViewBag.GameId6"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId7" class="control-label"></label>
                <select asp-for="GameId7" class ="form-control" asp-items="ViewBag.GameId7"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId8" class="control-label"></label>
                <select asp-for="GameId8" class ="form-control" asp-items="ViewBag.GameId8"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId9" class="control-label"></label>
                <select asp-for="GameId9" class ="form-control" asp-items="ViewBag.GameId9"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId10" class="control-label"></label>
                <select asp-for="GameId10" class ="form-control" asp-items="ViewBag.GameId10"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId11" class="control-label"></label>
                <select asp-for="GameId11" class ="form-control" asp-items="ViewBag.GameId11"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId12" class="control-label"></label>
                <select asp-for="GameId12" class ="form-control" asp-items="ViewBag.GameId12"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId13" class="control-label"></label>
                <select asp-for="GameId13" class ="form-control" asp-items="ViewBag.GameId13"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId14" class="control-label"></label>
                <select asp-for="GameId14" class ="form-control" asp-items="ViewBag.GameId14"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
